.add-car-to-store{
    .list-car{
        width: 220px;
        height: 30px;
    }
    .price{
        position: absolute;
        right: 20px;
        width: 220px;
    }
    .btnACTC{
        margin-top: 20px !important;
    }
}