.my-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    z-index: 100;
    background-color: white !important;
    width: 100%;
    .item {
        color: #818181 !important;
        font-weight: 400 !important;
        font-size: 14px !important;
    }
    .active {
        border-bottom: 2px solid !important;
        border-image-source: linear-gradient(to right, #43e97b 0%, #38f9d7 100%) !important;
        border-image-slice: 1 !important;
        color: #747474 !important;
        font-weight: 900 !important;
        font-size: 14px !important;
    }
}
