.customer-div {
    width: 400px;
    display: flex;
    position: relative;
    .form-od-header {
        width: 50%;
    }
    .sdt {
        margin-left: 30px;
        margin-top: 20px;
        width: 200px;
        height: 40px;
    }
}
.xcx{
    width: 400px !important;
    .form-od-header {
        width: 48%;
        margin-right: 3px;
    }
}
.s2 {
    width: 100%;
    .form-od-header-s2 {
        width: 45%;
        margin-left: 30px !important;
        margin-bottom: 20px;
    }
    .form-od-header-s1{
        width: 100px;
        margin-left: 30px;
    }
    button{
        width: 100px;
        margin-left: 30px !important;
        height: 55px;
    }
}
