.card {
    width: 170px;
    height: 100px;
    border-radius: 12px !important;
    color: rgb(255, 255, 255) !important;
    display: inline-table !important;
    margin-left: 20px;
    margin-bottom: 20px;
    &-icon {
        display: inline-block;
        margin-left: 20px;
        width: 40px !important;
        height: 40px !important;
    }
    h1 {
        display: inline-block;
        margin-left: 20px;
    }
    p{
        margin-left: 20px;
    }
}
