.form-cus {
    .MuiTextField-root {
        margin-bottom: 20px;
    }
    .info-s-d {
        display: flex;
        .info-s {
            margin-right: auto;
        }
    }
    .btn-sub-cus{
        display: flex;
        justify-content: center;
    }
}
