.car-cate{
    
    .title-car-cate{
        margin-left: 20px;
        padding-top: 13px !important;
        display: inline-block;
    }
    .btnAdd-car-cate{
        margin-left: 40px;
        font-weight: 700;
    }

}