.od-header {
    background-color: white;
    width: 40%;
    margin-top: 30px;
    border-radius: 12px;
    font-family: Arial !important;
    padding: 20px;

    &-contain {
        display: flex;
        .title {
            margin-right: 5px;
            font-weight: 700 !important;
            color: #818181 ;
        }
    }
}
