.card-od{
    width: 32% !important;
    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .od-sk{
        color: #16ab39!important;
        font-weight: 800;
        display: inline;
    }
    .od-sm{
        color:#db2828!important;
        font-weight: 800;
        display: inline;
    }
}